@charset "UTF-8";
head, body {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #hero .dieter--weiss {
    font-size: 10px;
    line-height: 0;
  }
  #hero .dieter--weiss--bou {
    font-size: 20px;
    line-height: 30px;
  }
  #hero .dieter--weiss--bou--bau {
    width: 336px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
  }
  #hero .dieter--weiss--bou--bau--bat {
    padding: 10px 25px;
  }
  #hero .big {
    margin-top: -33%;
    margin-left: 63.5%;
    /* width: 442px; */
    height: 441px;
    box-shadow: -30px 100px 2px #f5f8fa;
  }
  #hero .big--ing {
    margin-top: 20%;
    position: absolute;
    width: 330px;
    height: 430px;
  }

  #about {
    background: #F5F8FA;
  }
  #about .about {
    padding: 10% 2%;
  }
  #about .about__unsere {
    margin: 10px 3%;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #263640;
  }
  #about .about__unsere__ist {
    margin: 10px 3%;
    width: 480px;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #929A9F;
  }
  #about .about .language {
    display: flex;
    justify-content: space-around;
  }
  #about .about .theme {
    display: flex;
  }
  #about .about .theme__img {
    width: 312px;
    height: 333px;
  }
  #about .about .theme__img__div {
    margin-left: 25px;
  }
  #about .about .theme__img__div__title {
    width: 311px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #263640;
  }
  #about .about .theme__img__div__title__item {
    width: 312px;
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
  }
  #about .about .theme__img__div__title__item__alt {
    color: #FF9900;
  }
  #about .about .bg {
    position: relative;
    display: flex;
    padding-top: 5%;
    padding-left: 10%;
    margin-top: 10%;
    margin-left: 2%;
    width: 800px;
    height: 400px;
    background: #263640;
  }
  #about .about .bg__firm {
    font-size: 10px;
    line-height: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
  }
  #about .about .bg__weiss {
    width: 345px;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  #about .about .bg__fast {
    width: 300px;
    font-size: 10px;
    line-height: 26px;
    /* or 162% */
    display: flex;
    align-items: center;
    /* Weiß */
    color: #FFFFFF;
  }
  #about .about .bg__lesen {
    font-size: 10px;
    color: white;
  }
  #about .about .img {
    margin-left: 40%;
    position: absolute;
    width: 485px;
    height: 440px;
    padding-left: 10%;
  }

  #desk .letz {
    margin-left: 0%;
    font-size: 11px;
  }
  #desk .desks {
    margin-left: 0%;
  }
  #desk .desks .desk__sed {
    font-size: 15px;
    line-height: 20px;
  }
  #desk .desks .desk__sed__amet {
    width: 250px;
    font-size: 11px;
    line-height: 20px;
  }
  #desk .desks .lesen {
    font-size: 12px;
  }

  #mach .mach .bei {
    font-size: 10px;
    line-height: 10px;
  }
  #mach .mach__dich {
    font-size: 20px;
    line-height: 25px;
  }
  #mach .mach__dich__sit {
    width: 217px;
    font-size: 10px;
    line-height: 18px;
  }
  #mach .mach .img6 {
    width: 580px;
    height: 420px;
  }
}
@media (max-width: 768px) {
  #hero .dieter--weiss {
    font-size: 8px;
    line-height: 0;
  }
  #hero .dieter--weiss--bou {
    font-size: 16px;
    line-height: 25px;
  }
  #hero .dieter--weiss--bou--bau {
    width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
  }
  #hero .dieter--weiss--bou--bau--bat {
    padding: 10px 25px;
  }
  #hero .big {
    margin-top: -33%;
    margin-left: 50.5%;
    width: 422px;
    height: 441px;
    box-shadow: -30px 100px 2px #f5f8fa;
  }
  #hero .big--ing {
    margin-top: 20%;
    position: absolute;
    width: 330px;
    height: 430px;
  }

  #about .about .language {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  #about .about .bg {
    width: 600px;
    height: 320px;
  }
  #about .about .img {
    width: 380px;
    height: 370px;
    padding-left: 15%;
  }
  #about .about .bg__firm {
    font-size: 7px;
  }
  #about .about .bg__weiss {
    width: 300px;
    font-size: 17px;
    line-height: 30px;
  }
  #about .about .bg__fast {
    width: 249px;
    font-size: 8px;
    line-height: 15px;
  }

  #desk .letz {
    margin-left: 23%;
    font-size: 8px;
  }
  #desk .desks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #mach .mach .img6 {
    width: 380px;
    height: 330px;
  }

  #footer .footers .footer__sed {
    margin-left: 100px;
    width: 70px;
    font-size: 12px;
    line-height: 15px;
  }
  #footer .footers .footer__sed__amet {
    margin-left: 100px;
    width: 122px;
    font-size: 10px;
  }
  #footer .footers .sed {
    margin-left: 50px;
    width: 70px;
    font-size: 12px;
    line-height: 15px;
  }
  #footer .footers .amet {
    margin-left: 50px;
    width: 122px;
    font-size: 10px;
  }
  #footer .div {
    width: 650px;
  }
}
@media (max-width: 576px) {
  #hero .dieter--weiss {
    font-size: 8px;
    line-height: 0;
  }
  #hero .dieter--weiss--bou {
    font-size: 16px;
    line-height: 25px;
  }
  #hero .dieter--weiss--bou--bau {
    width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
  }
  #hero .dieter--weiss--bou--bau--bat {
    padding: 10px 25px;
  }
  #hero .big {
    margin-top: -15%;
    margin-left: 20%;
    width: 478px;
    height: 417px;
    box-shadow: -23px 2px 1px #f5f8fa;
  }
  #hero .big--ing {
    margin-top: 20%;
    position: absolute;
    width: 270px;
    height: 300px;
  }

  #mach .mach {
    flex-direction: column;
  }
  #mach .mach .vid {
    margin-left: 30%;
    position: relative;
  }
  #mach .mach .vid .bei {
    margin-top: 3%;
  }
  #mach .mach .vid .bei__dich__sit__btn {
    padding: 5px 25px;
  }
  #mach .mach .img6 {
    margin-top: 2px;
    margin-left: 65px;
    width: 300px;
    height: 270px;
  }

  #about .about__unsere {
    margin: 8px 25%;
    font-size: 15px;
    line-height: 20px;
  }
  #about .about__unsere__ist {
    margin: 8px 25%;
    width: 193px;
    font-size: 12px;
    line-height: 20px;
  }
  #about .about .bg {
    width: 330px;
    height: 200px;
  }
  #about .about .bg .gd .bg__firm {
    font-size: 4px;
  }
  #about .about .bg .gd .bg__weiss {
    width: 148px;
    font-size: 12px;
    line-height: 17px;
  }
  #about .about .bg .gd .bg__fast {
    width: 144px;
    font-size: 8px;
    line-height: 11px;
  }
  #about .about .bg .gd .bg__lesen {
    font-size: 7px;
  }
  #about .about .bg .img {
    width: 230px;
    height: 220px;
    padding-left: 15%;
  }
  #about .about .theme__img {
    width: 330px;
    height: 340px;
  }
  #about .about .theme__img__div {
    margin-left: 50px;
  }
  #about .about .theme__img__div__title {
    width: 250px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  #about .about .theme__img__div__title__item {
    width: 250px;
    font-size: 12px;
    line-height: 20px;
  }
  #about .about .theme__img__div__title__item__alt {
    width: 165px;
    font-size: 12px;
    line-height: 28px;
  }

  #best .best {
    margin-left: 120px;
  }
  #best .best__unsere {
    margin-left: 30px;
    width: 150px;
    font-size: 18px;
    line-height: 25px;
  }
  #best .best__unsere__ist {
    margin-left: -70px;
    width: 400px;
    font-size: 13px;
    line-height: 20px;
  }
  #footer .footers .lgs {
    width: 134px;
    height: 38px;
  }
  #footer .footers .footer__sed {
    width: 50px;
    font-size: 10px;
    line-height: 9px;
  }
  #footer .footers .footer__sed__amet {
    margin-left: 100px;
    width: 90px;
    font-size: 8px;
  }
  #footer .footers .sed {
    width: 50px;
    font-size: 10px;
    line-height: 9px;
  }
  #footer .footers .amet {
    width: 90px;
    font-size: 8px;
  }
  #footer .div {
    width: 430px;
    border: 1px solid #FFFFFF;
  }
}
@media (max-width: 415px) {
  #hero .big {
    margin-top: -15%;
    margin-left: 10%;
  }

  #about .about .bg {
    width: 225px;
    height: 165px;
  }
  #about .about .bg .gd .bg__weiss {
    width: 130px;
    font-size: 10px;
    line-height: 13px;
  }
  #about .about .bg .gd .bg__fast {
    width: 111px;
    font-size: 6px;
    line-height: 10px;
  }
  #about .about .bg .gd .bg__lesen {
    font-size: 5px;
    padding-top: -20px;
  }
  #about .about .bg .img {
    width: 170px;
    height: 185px;
  }

  #best .best {
    margin-left: 70px;
  }
  #best .best__unsere {
    margin-left: 15px;
    width: 150px;
    font-size: 16px;
    line-height: 20px;
  }
  #best .best__unsere__ist {
    margin-left: -50px;
    width: 261px;
    font-size: 13px;
    line-height: 20px;
  }

  #desk .desks .desk {
    width: 341px;
    height: 165px;
    margin-left: 100px;
  }

  #mach .mach .img6 {
    margin-top: 2px;
    margin-left: 25px;
  }

  #footer .footers .lgs {
    width: 58px;
    height: 35px;
  }
  #footer .footers .footer {
    margin-left: -50px;
  }
  #footer .div {
    width: 300px;
    border: 1px solid #FFFFFF;
  }
  #footer .pressum {
    padding-top: 15px;
    font-size: 8px;
    line-height: 15px;
  }
}
@media (max-width: 370px) {
  #footer .footers .lgs {
    width: 40px;
    height: 30px;
  }
  #footer .footers .footer {
    margin-left: -75px;
  }
}

/*# sourceMappingURL=media.css.map */
