@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  #hero {
    margin-left: -20%;
    background: #ffffff;
  }
  body {
    overflow-x: hidden;
  }


}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}