@import "variables";
@import "reset";

.container {
  width: 1140%;
  margin: 0 auto;
}


#header {
  position: fixed;
  width: 100%;
  z-index: 234;
  background: #a29f9f;
  //filter: drop-shadow(0 10px 20px #000);

  .navbar {
    display: flex;
    justify-content: space-around;
    //animation: 2s name;
    //@keyframes name {
    //  0% {
    //    margin-top: -50%;
    //  }
    //  100% {
    //    margin-top: 0;
    //  }
    //
    //}

    &__menu {
      &--item {
        margin: 0 10px;
      }
    }

    &--option {
      border: none;
      margin: 0 10px;
    }

    &__btn {
      @extend %btn1;

      &--img {
        padding: 0 10px;
      }
    }

    .modal-btn {
      border: none;
      padding: 10px 20px;
      background: linear-gradient(97.1deg, #a4f601 11.99%, #d91e1e 96.6%);

    }

    .modal-btn:hover {
      background: transparent;
      border: 1px solid #05384f;
      padding: 10px 20px;
      transition: 2s;
      color: #FFFFFF;
    }

    .modal {
      ////display: none;
      ////position: absolute;
      //top: 0;
      //left: 0;
      //right: 0;
      //bottom: 0;
      //margin: auto;
      //background: rgba(0, 0, 0, 0.6);
      //z-index: 2;
      //width: 100%;


      &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 300px;
        background: #ffffff;
        margin: 100px auto;
        border-radius: 10px;

        &--btn {
          width: 30px;
          height: 30px;
          display: flex;
          align-self: flex-end;
          text-align: center;

          background: transparent;
          border: none;
        }

        &--title {
          text-align: center;

        }

        &--form {
          display: flex;
          flex-direction: column;
          align-items: center;


          &__email {
            padding: 15px 10px;
            margin: 10px 0;
          }

          &__key {
            padding: 15px 10px;
            margin-bottom: 10px;
          }

          &__btn {
            background: #05384f;

            color: #ffffff;
            border: none;
            padding: 10px 60px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}


.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  //animation: 2s name;
  //@keyframes name {
  //  0% {
  //    margin-top: -50%;
  //  }
  //  100% {
  //    margin-top: 0;
  //  }
  //
  //}

  &__menu {
    &--item {
      margin: 0 10px;
    }
  }

  &--option {
    border: none;
    margin: 0 10px;
  }


}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


.btn {
  background: #05384f;

  color: #ffffff;
  border: none;
  padding: 10px 60px;
  border-radius: 10px;
}
.dsf{
  position: relative;
  display: flex;

}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.modal-btn {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(97.1deg, #a4f601 11.99%, #d91e1e 96.6%);

}

.modal-btn:hover {
  background: transparent;
  border: 1px solid #05384f;
  padding: 10px 20px;
  transition: 2s;
  color: #FFFFFF;
}

.modal {
  //display: none;
  //position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100%;


  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background: #ffffff;
    margin: 100px auto;
    border-radius: 10px;

    &--btn {
      width: 30px;
      height: 30px;
      display: flex;
      align-self: flex-end;
      text-align: center;

      background: transparent;
      border: none;
    }

    &--title {
      text-align: center;

    }

    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;


      &__email {
        padding: 15px 10px;
        margin: 10px 0;
      }

      &__key {
        padding: 15px 10px;
        margin-bottom: 10px;
      }

      &__btn {
        background: #05384f;

        color: #ffffff;
        border: none;
        padding: 10px 60px;
        border-radius: 10px;
      }
    }
  }
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 992px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


#hero {
  background: #ffffff;
  min-height: 100vh;

  .dieter {
    margin-left: 6%;
    padding-top: 20%;
    //animation: 5s item;
    //@keyframes item {
    //  0% {
    //    margin-left: -100%;
    //    opacity: 0;
    //  }
    //  50% {
    //    opacity: 0.5;
    //  }
    //  100% {
    //    margin-left: 0;
    //  }
    //}

    &--weiss {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #929A9F;

      &--bou {
        font-size: 32px;
        line-height: 45px;
        display: flex;
        align-items: center;
        color: #263640;

        &--bau {
          width: 427px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          padding-bottom: 15px;
          background-image: linear-gradient(
                          75deg,
                          hsl(260deg 72% 50%) 0%,
                          hsl(265deg 77% 50%) 20%,
                          hsl(270deg 83% 50%) 29%,
                          hsl(275deg 89% 50%) 36%,
                          hsl(279deg 95% 50%) 43%,
                          hsl(284deg 100% 50%) 50%,
                          hsl(283deg 95% 55%) 57%,
                          hsl(282deg 89% 61%) 64%,
                          hsl(280deg 84% 66%) 71%,
                          hsl(279deg 78% 71%) 80%,
                          hsl(278deg 73% 77%) 100%
          );
          -webkit-background-clip: text;
          color: transparent;

          &--bat {
            @extend %btn1;
          }
        }
      }
    }
  }

  .big {
    margin-top: -30%;
    margin-left: 63.5%;
    width: 420px;
    height: 422px;
    box-shadow: -44px 300px 1px #F5F8FA;
    position: relative;
    //animation: 5s title;
    //@keyframes title {
    //  0% {
    //    opacity: 0;
    //  }
    //  50% {
    //    opacity: 0;
    //  }
    //
    //  100% {
    //    opacity: 1;
    //  }
    //
    //}

    &--ing {

      position: absolute;
      width: 420px;
      height: 550px;
      //margin-top: 35%;
    }
  }
}

#about {
  background: #F5F8FA;

  .about {
    padding: 10% 2%;

    &__unsere {
      margin: 10px 3%;

      font-size: 24px;
      line-height: 44px;
      display: flex;
      align-items: center;
      color: #263640;

      &__ist {
        margin: 10px 3%;
        width: 480px;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #929A9F;
      }
    }

    .language {
      display: flex;
      justify-content: space-around;
    }


    .theme {
      display: flex;

      &__img {
        width: 312px;
        height: 333px;

        &__div {
          margin-left: 25px;

          &__title {
            width: 311px;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #263640;

            &__item {
              width: 312px;
              font-size: 16px;
              line-height: 28px;
              color: #929A9F;

              &__alt {
                color: #FF9900;
              }
            }
          }
        }
      }
    }

    .bg {
      position: relative;
      display: flex;
      padding-top: 5%;
      padding-left: 10%;
      margin-top: 10%;
      margin-left: 2%;
      width: 950px;
      height: 500px;
      background: #263640;

      &__firm {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #929A9F;
      }

      &__weiss {
        width: 494px;
        font-size: 32px;
        line-height: 44px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      &__fast {
        width: 422px;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        display: flex;
        align-items: center;

        /* Weiß */

        color: #FFFFFF;
      }

      &__lesen {
        color: white;
      }

    }

    .img {
      margin-left: 40%;
      position: absolute;
      width: 588px;
      height: 600px;
      padding-left: 10%;

    }
  }
}

#best {
  padding: 10% 10%;

  .best {
    display: flex;

    &__unsere {
      width: 222px;
      font-size: 32px;
      line-height: 45px;
      color: #263640;

      &__ist {
        width: 488px;
        font-size: 16px;
        line-height: 28px;
        color: #929A9F;
      }
    }
  }

  .bnt {
    @extend %btn1;
  }
}

#desk {
  .letz {
    margin-left: 6%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
  }

  .desks {
    margin-left: 6%;
    display: flex;

    .desk {
      width: 361px;
      height: 212px;

      &__sed {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #263640;

        &__amet {
          width: 361px;
          font-size: 16px;
          line-height: 28px;
          color: #929A9F;
        }


      }
    }

    .lesen {
      color: #FF9900;
    }
  }
}

#mach {
  margin-top: 20%;
  min-height: 100vh;
  background: #F5F8FA;

  .mach {
    display: flex;

    .vid {
      margin-left: 5%;
    }

    .bei {
      margin-top: 22%;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      /* Light Blue */

      color: #929A9F;
    }

    &__dich {
      font-size: 32px;
      line-height: 44px;
      color: #263640;

      &__sit {
        width: 327px;
        font-size: 16px;
        line-height: 28px;
        color: #929A9F;

        &__btn {
          @extend %btn1

        }
      }
    }

    .img6 {
      width: 728px;
      height: 484px;
      margin: -20% 5%;
    }
  }
}

#footer {

  margin-top: 20px;
  padding: 5%;
  background: #263640;

  .footer {
    display: flex;

    &--presum {
      margin-top: 3%;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
    }
  }

  .big {
    justify-content: space-around;

    //margin-left: 85%;

    &--title {
      color: #ffffff;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.75px;
      text-transform: uppercase;

      &--item {
        width: 157px;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF
      }
    }
  }

  .div {
    margin-top: 8%;
    margin-left: 3%;
    border: 1px solid #FFFFFF;
  }
}

