@import "variables";
@import "reset";

.container {
  width: 100%;
  margin: 0 auto;
}


#header {
  //padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 234;
  background: #a29f9f;
  //filter: drop-shadow(0 10px 20px #000);

  .navbar {
    display: flex;
    justify-content: space-around;
    //animation: 2s name;
    //@keyframes name {
    //  0% {
    //    margin-top: -50%;
    //  }
    //  100% {
    //    margin-top: 0;
    //  }
    //
    //}

    &__menu {
      &--item {
        margin: 0 10px;
      }
    }

    &--option {
      border: none;
      margin: 0 10px;
    }

    &__btn {
      @extend %btn1;

      &--img {
        padding: 0 10px;
      }
    }

    .modal-btn {
      border: none;
      padding: 10px 20px;
      background: linear-gradient(97.1deg, #a4f601 11.99%, #d91e1e 96.6%);

    }

    .modal-btn:hover {
      background: transparent;
      border: 1px solid #05384f;
      padding: 10px 20px;
      transition: 2s;
      color: #FFFFFF;
    }

    .modal {
      //display: none;
      //position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
      width: 100%;


      &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 300px;
        background: #ffffff;
        margin: 100px auto;
        border-radius: 10px;

        &--btn {
          width: 30px;
          height: 30px;
          display: flex;
          align-self: flex-end;
          text-align: center;

          background: transparent;
          border: none;
        }

        &--title {
          text-align: center;

        }

        &--form {
          display: flex;
          flex-direction: column;
          align-items: center;


          &__email {
            padding: 15px 10px;
            margin: 10px 0;
          }

          &__key {
            padding: 15px 10px;
            margin-bottom: 10px;
          }

          &__btn {
            background: #05384f;

            color: #ffffff;
            border: none;
            padding: 10px 60px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

#hero {
  background: #ffffff;
  min-height: 100vh;

  .dieter {
    margin-left: 6%;
    padding-top: 20%;
    //animation: 5s item;
    //@keyframes item {
    //  0% {
    //    margin-left: -100%;
    //    opacity: 0;
    //  }
    //  50% {
    //    opacity: 0.5;
    //  }
    //  100% {
    //    margin-left: 0;
    //  }
    //}

    &--weiss {

      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #929A9F;

      &--bou {
        font-size: 32px;
        line-height: 45px;
        display: flex;
        align-items: center;
        color: #263640;

        &--bau {
          width: 427px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          padding-bottom: 15px;
          background-image: linear-gradient(
                          75deg,
                          hsl(260deg 72% 50%) 0%,
                          hsl(265deg 77% 50%) 20%,
                          hsl(270deg 83% 50%) 29%,
                          hsl(275deg 89% 50%) 36%,
                          hsl(279deg 95% 50%) 43%,
                          hsl(284deg 100% 50%) 50%,
                          hsl(283deg 95% 55%) 57%,
                          hsl(282deg 89% 61%) 64%,
                          hsl(280deg 84% 66%) 71%,
                          hsl(279deg 78% 71%) 80%,
                          hsl(278deg 73% 77%) 100%
          );
          -webkit-background-clip: text;
          color: transparent;

          &--bat {
            @extend %btn1;
          }
        }
      }
    }
  }

  .big {
    margin-top:-30%;
    margin-left: 63.5%;
    width: 420px;
    height: 422px;
    box-shadow: -44px 300px 1px #F5F8FA;
    position: relative;
    //animation: 5s title;
    //@keyframes title {
    //  0% {
    //    opacity: 0;
    //  }
    //  50% {
    //    opacity: 0;
    //  }
    //
    //  100% {
    //    opacity: 1;
    //  }
    //
    //}

    &--ing {

      position: absolute;
      width: 420px;
      height: 550px;
      //margin-top: 35%;
    }
  }
}


#about {
  background: #F5F8FA;
  margin-top: -25%;
  min-height: 100vh;
  .did{
    margin:20% 0;
  }

  .oder {
    margin-left: 3%;
    font-size: 24px;
    line-height: 44px;
    color: #263640;
    padding-top: 10%;

    &--das {
      margin-left: 3%;
      width: 470px;
      font-size: 16px;
      line-height: 28px;
      color: #929A9F;
    }
  }

  .und {

    &--img-one {

      &--ges {

      }

      &--von {
        width: 312px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #263640;

        &--stray {
          width: 312px;
          font-size: 16px;
          line-height: 28px;
          color: #929A9F;

          &--btn-one {
            border: none;
            font-size: 16px;
            line-height: 28px;
            color: #FF9900;
            background: none;
          }
        }
      }
    }

  }

  .about__bg {
    margin-left: 4%;
    margin-top: 100px;
    width: 1009px;
    height: 584px;
    background: #263640;

    &__theme {
      margin-top: 100px;
      margin-left: 30px;

      &__title {
        width: 250px;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #929A9F;

        &__item {
          width: 494px;
          font-size: 32px;
          line-height: 44px;
          display: flex;
          align-items: center;
          color: #FFFFFF;

          &--title {
            width: 400px;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #FFFFFF;

          }
        }
      }
    }

    .solid {
      margin: 20px 0;
      width: 450px;
      border: 1px solid #FFFFFF;

    }


    .about__bg--img{
      margin-top: -365px;
      width: 488px;
      height: 662px;
      margin-left: 75%;
    }
  }
}

#best {
  .best {
    margin-top: 15%;
    .unsere{
      width: 300px;
    }

    &__wiss {
      font-size: 32px;
      line-height: 45px;
      display: flex;
      align-items: center;
      color: #263640;
      width: 222px;

      &__massa {
        width: 488px;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #929A9F;

        &__btn {
          @extend %btn1;
        }
      }

    }

    .unsere {
      margin-top: 10%;

      &__letz {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #929A9F;

        &__sed {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #263640;

          &__nec {
            width: 360px;
            font-size: 16px;
            line-height: 28px;
            color: #929A9F;

            &__btn {
              border: none;
              font-size: 16px;
              line-height: 28px;
              color: #FF9900;
              background: none;
            }
          }
        }
      }
    }

  }
}


#footer {

  margin-top: 200px;
  padding: 5%;
  background: #263640;

  .footer {
    &--presum {
      margin-top: 3%;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
    }
  }

  .big {
    margin-left: 85%;

    &--title {
      color: #ffffff;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.75px;
      text-transform: uppercase;

      &--item {
        width: 157px;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF
      }
    }
  }

  .div {
    margin-top: 8%;
    margin-left: 3%;
    border: 1px solid #FFFFFF;
  }
}

