
$ff: "Dinpro", sans-serif;
$mainColor: #FF9900;



%btn1 {
  background: linear-gradient(97.1deg, #a4f601 11.99%, #d91e1e 96.6%);
  color: #FFFFFF;
  padding: 10px 40px;
  border: none;
  transition: .4s;

}

%btn1:hover {
  background: linear-gradient(97.1deg, #000000 11.99%, #f80000 96.6%);
  transition: 0.7s;
}

%btn2 {
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 10px 40px;
  transition: .4s;


}